body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:blue;
  }
  
  header {
    text-align: center;
    display: inline-block;
    
  }

    ul {
    display: inline-block;
    margin: auto;
    padding: 5px;
    }

   img {
     float: left;
     text-align: center;
     margin: 2px;
     padding: 2px;
     display: inline-block;
   }
  
   footer{
     padding: 5px;
     margin: 5px;
     background-color: lavender;
     float: left;
   }
